<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name = "logFile" xsi:type="File" fileName ="Logs/logFile.log"
				layout="${longdate} ${level} ${logger} ${message} ${exception:format=ToString}"></target>
	</targets>

	<rules>
		<!-- Только ваши логи -->
		<logger name="BlogApp.*" minlevel="Info" writeTo="logFile" final="true"/>

		<!-- Полностью игнорируем все системные логи -->
		<logger name="Microsoft.*" minlevel="Error" writeTo="logFile" final="true"/>
		<logger name="System.*" minlevel="Error" writeTo="logFile" final="true"/>
		
	</rules>
</nlog>
